
body {

  background-color: antiquewhite;

}

#header {
  text-align: center;
  color: black;
}

.container {
  background-color:  #003049ff;
  margin-top: 70px;
  margin-left: 260px;
  margin-right: 310px;
  text-align: center;
  border: 5px solid #caf0f8ff;
  border-radius: 5px;
  
  
}

.paragraph {
  display: flex;
  padding-left: 210px;
  padding-bottom: 100px;
  margin-top: 20px;
  
  
}

.msg1 {
  margin-right: 10px;
}

.generate-btn {
 margin-right: 100px;
 margin-bottom: 20px;
 color: white;
 background: green;
 padding: 5px 10px;
 border-radius: 2px;
 border: 1px solid green;
}


.line {
  border-bottom: 2px solid black;
  margin-left: 150px;
  margin-right:150px ;
}

.grn{
  color: green;
  
}

h1 {
  color: white;
}

h4 {
  color:#fefae0ff;
}

.heading {
  margin-top: 20px;}

.msg1 {
  padding-left: 10px;
  color: green;
  padding: 5px 30px;
  border: 2px solid  #1b263bff;
  background: #1b263bff;
   border-radius: 5px;
  
}

.msg2 {
  color: green;
  padding: 5px 30px;
  border: 2px solid  #1b263bff;
  background: #1b263bff;
  border-radius: 5px;
  
}


